@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Outfit', sans-serif;

    body {
        background-color: $Lightgray;

        .main {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .container {
                background-color: $White;
                width: 20rem;
                display: flex;
                flex-direction: column;
                margin: 1rem;
                border-radius: 1rem;
                box-shadow: 1px 1px 3px 1px hsla(217, 45%, 22%, 0.308);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                &:hover{
                    box-shadow: 1px 1px 15px 5px hsla(217, 45%, 22%, 0.308);
                }

                .container_img {
                    padding: 1rem;

                    img {
                        width: 100%;
                        border-radius: 0.5rem;
                    }
                }

                .container_tittle {
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $Darkblue;
                    padding: 1rem;
                }

                .container_paragraph {
                    font-weight: 400;
                    font-size: 1rem;
                    text-align: center;
                    padding: 0rem 1.5rem 2rem 1.5rem;
                    color: $Grayishblue;
                }
            }
            .attribution {
                position: absolute;
                bottom: 0.5rem;
                text-align: center;
                font-size: 0.8rem;
                
                a {
                    text-decoration: none;
                    color: $Darkblue;
                }
            }
        }
    }
}


