* {
  margin: 0px;
  padding: 0px; }

html {
  font-family: 'Outfit', sans-serif; }
  html body {
    background-color: #d6e2f0; }
    html body .main {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      html body .main .container {
        background-color: white;
        width: 19rem;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 3px 1px rgba(31, 50, 81, 0.308);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        html body .main .container:hover {
          box-shadow: 1px 1px 15px 5px rgba(31, 50, 81, 0.308); }
        html body .main .container .container_img {
          padding: 1rem; }
          html body .main .container .container_img img {
            width: 100%;
            border-radius: 0.5rem; }
        html body .main .container .container_tittle {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          color: #1f3251;
          padding: 1rem; }
        html body .main .container .container_paragraph {
          font-weight: 400;
          font-size: 1rem;
          text-align: center;
          padding: 0rem 1.5rem 2rem 1.5rem;
          color: #7b879d; }
      html body .main .attribution {
        position: absolute;
        bottom: 0.5rem;
        margin: 0rem 0.5rem;
        text-align: center;
        font-size: 0.8rem; }
        html body .main .attribution a {
          text-decoration: none;
          color: #1f3251; }
